
<div>
	<h4 class="geometry">Geometry</h4>
	<label>
		<input ng-model="key.geometry.visible" type="checkbox" ng-click="setStyle()"  class="mapstyle">  visible
	</label>

	<h4 class="labels">labels</h4>
	<label>
		<input ng-model="key.labels.visible" type="checkbox" ng-click="setStyle()" class="mapstyle">  visible
	</label>

</div>

<accordion ng-if="key.nodes">
	<accordion-group heading="{{key.label}}" ng-repeat="key in key.nodes" is-open="key.isOpen">
		<div ng-include="'partials/featurerenderer.html'"></div>
	</accordion-group>
</accordion>