<!DOCTYPE html>
<html>
<head>
	<title>Map Customizer - Yukiko Ishida</title>
	<meta charset="utf-8">
	<meta http-equiv="no-cache" content="public">
	<link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body ng-view>


<div id="map-canvas" ng-controller="MapCanvas"></div>
<div id="control-panel">

	<div class="titlecard">
		<h1>Map Customizer</h1>
		<h4 ng-controller="FeatureTitleBar as title">
			 sthing {{title.thing}} {{title.stuff}}
		</h4>
		<h4>by Yukiko Ishida</h4>
	</div>

	<div class="controls" ng-controller="FeaturePanel as panel">
		<div class="controls-spacer-top">
		</div>

		<p>{{panel.mapdata[0].visible}} thingy: {{panel.panelTitle}}</p>
		<div class="control-panel">
			<!-- shows the current open parent level panel -->
			<h2 ng-repeat="controlpanel in panel.mapdata | filter: {isOpen:true}"> {{controlpanel.label}} is open!</h2>
		</div>

		<accordion>
			<accordion-group heading="{{key.label}}" ng-repeat="key in panel.mapdata" is-open="key.isOpen">
				<div ng-include="'partials/featurerenderer.html'"></div>
			</accordion-group>
		</accordion>
	</div>
	
</div>


</body>

	<!-- Require -->
	<script type="text/javascript" src="js/require.js" data-main="js/main.js"></script>



</html>